---
import { getCollection } from 'astro:content'
import IconCollection from './ui/IconCollection.astro'
import type { Project } from '@/content/config'
const projects: Project[] = await getCollection('projects')
export const prerender = true
---

<section id="projects">
  <h2>PROYECTOS</h2>
  <div id="content">
    <p class="self-center">
      Mis trabajos mas destacados en cada tipo de entorno
    </p>
    {
      projects.map((p) => {
        return (
          <article>
            <div class="flex gap-4 items-center max-sm:flex-col-reverse">
              <div class="flex flex-col gap-2 justify-start">
                <h3>{p.data.title}</h3>

                <p class="text-sm">{p.body}</p>
                <footer class="flex items-center max-sm:flex-col-reverse">
                  <div class="flex justify-center gap-2">
                    <a class="link-button" href={p.data.code} target="_blank">
                      ▣ Code
                    </a>
                    <a class="link-button" href={p.data.live} target="_blank">
                      ▶ Live
                    </a>
                  </div>
                  <IconCollection list={p.data.tecnology} />
                </footer>
              </div>
              <img
                alt={p.data.title}
                src={p.data.preview}
                class="preview-image"
              />
            </div>
          </article>
        )
      })
    }
  </div>
</section>
<style>
  #content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
  }
  article {
    height: 100%;
    width: 100%;
    max-width: 680px;
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-radius: 8px;
    border: 2px solid rgb(0, 76, 139);
    background-color: #00000038;
    h3 {
      font-size: x-large;
    }
    footer {
      justify-self: end;
      display: flex;
      justify-content: center;
      gap: 16px;
    }
  }

  .link-button {
    color: var(--color3);
    text-wrap: nowrap;
    font-weight: bold;
    font-size: 1.2em;
    padding: 4px 12px;
    max-width: max-content;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    gap: 12px;
    border: 2px solid var(--color2);
    border-radius: 12px;
    transition:
      box-shadow 0.4s,
      border-color 0.2s;
  }

  span > svg {
    fill: var(--color3);
  }
  .link-button:hover {
    border-color: var(--select2);
    color: var(--select2);
    border-color: var(--select2);
  }
  .link-button:hover > span > svg {
    fill: var(--select2);
  }
  .preview-image {
    aspect-ratio: 6/4;
    width: 100%;
    max-width: 220px;
    object-fit: contain;
    object-position: 50%;
    border: 1px solid var(--color2);
    background: rgba(0, 0, 0, 0.425);
    transition:
      scale 0.2s,
      object-position 0.4s;
  }
  .preview-image:hover {
    scale: 1.04;
  }
  @media (max-width: 639px) {
    .preview-image{
      aspect-ratio: auto;
      max-width: 100%;
    }
  }
</style>
